<form (ngSubmit)="login()">
  <input
    [(ngModel)]="user.username"
    name="username"
    placeholder="Nom d'utilisateur"
    required />

  <input
    [(ngModel)]="user.password"
    name="password"
    type="password"
    placeholder="Mot de passe"
    required />

  <select
    [(ngModel)]="user.role"
    name="role"
    required>
    <option value="" disabled selected>Select Role</option>
    <option value="ADMIN">Admin</option>
    <option value="EXPEDITEUR">Expéditeur</option>
    <option value="CONDUCTEUR">Conducteur</option>
  </select>

  <button type="submit">Se connecter</button>
</form>
